numpy
pandas
matplotlib

# opencv-python
scikit-learn
tensorflow
keras
torch 
torchvision 
torchaudio
segmentation-models
gdown
requests
flask
streamlit
google-api-python-client
earthengine-api
geemap
streamlit
pillow
pandas
